<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <h1><%= title %></h1>
  <p>
    Edit me at <code>./app/views/index.ejs.</code><br>
    Edit my properties at <code>./app/controllers/index.server.controller.js</code>
  </p>
  <p>
    Static assets are served from <code>./app/public/</code><br>
    <img src="img/cat.png" alt="stolen from flickr.com" />
  </p>
</body>
</html>
