<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p>
    Edit me at ./app/views/index.ejs; edit my properties at ./app/controllers/index.server.controller.js
  </p>
</body>
</html>
